<div class="row with-border">
  <div class="col-md-4 with-border">
    a
  </div>
  <div class="col-md-4 with-border">
    <%= render 'innerst_row' %>
    <%= render 'innerst_row' %>
    <%= render 'innerst_row' %>
  </div>
  <div class="col-md-4 with-border">
    c
  </div>
</div>
