<div class="grid-model">

  <div class="page-header">
    <h1>Beispiele des Grid Modells <small>fluid und nicht fluid</small></h1>
  </div>


  <div class="container">
    <div class="row">
      <div class="bs-callout bs-callout-info">
        <h4>Nicht fluid</h4>
        <p>fixe Grösse</p>
      </div>
    </div>
    <%= render 'row' %>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="bs-callout bs-callout-info">
        <h4>Fluid</h4>
        <p>maximale Grösse</p>
      </div>
    </div>
    <%= render 'row' %>
  </div>
</div>