<div class="page-header">
  <h1>Beispiele des Grid Modells <small>Subtext for header</small></h1>
</div>

<div class="grid-model">


  <div class="container">
    <div class="row with-border">
      <div class="col-md-4 with-border">
        eins
      </div>
      <div class="col-md-4 with-border">
        zwei
      </div>
      <div class="col-md-4 with-border">
        drei
      </div>
    </div>
    <div class="row">
      hi
    </div>
  </div>

  <div class="container-fluid">
    <div class="row with-border">
      <div class="col-md-4 with-border">
        eins
      </div>
      <div class="col-md-4 with-border">
        zwei
      </div>
      <div class="col-md-4 with-border">
        drei
      </div>
    </div>
  </div>
</div>