<% content_for :breadcrumb do %>
  <li><%= link_to "Home", root_path %></li>
  <li class="active">Examples</li>
<% end %>

<div class='alert alert-info fade in' data-alert='alert'>
  <h3>
    <strong>
      <a href="https://github.com/plataformatec/simple_form">Simple Form</a> and <a href="http://getbootstrap.com/">Bootstrap</a> sample application.
    </strong>
  </h3>
  <p>Here you'll see the usage of <a href="https://github.com/plataformatec/simple_form">Simple Form</a> and the <a href="http://getbootstrap.com/">Bootstrap</a> toolkit on a Rails 4 application.</p>
  <p>You can check the source code on <a href='https://github.com/rafaelfranca/simple_form-bootstrap'>GitHub</a>.</p>
</div>


<div class="row">
  <%= render partial: 'basic_example_sf', layout: 'sf_label', locals: { title: 'Basic Form' } %>
</div>

<div class="row">
  <%= render partial: 'inline_form_sf', layout: 'sf_label', locals: { title: 'Inline Form' } %>
</div>

<div class="row">
  <%= render partial: 'horizontal_form_sf', layout: 'sf_label', locals: { title: 'Horizontal Form' } %>
</div>
