<div class="plans-page">

  <div class="page-header">
    <h1>Beispiele mit Formularen <small>in verschiedenen Grössen</small></h1>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="bs-callout bs-callout-info">
          <h4>Modal</h4>
          <p>modal</p>
        </div>
      </div>
      <div class="col-xs-6">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          demo modal...
        </button>
        <br/>
        <br/>
        <%= button_to 'Neuer Plan...', new_plan_path,  {method: "get", class: "btn btn-primary", remote: true, data: {toggle: "modal", target: "#modal-window"}} %>

        <!-- Modal -->
        <%= render 'modal_example_from_bs' %>
        <%= render 'modal_window' %>

      </div>

    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="bs-callout bs-callout-info">
          <%= render "new_form" %>
        </div>
      </div>
    </div>
  </div>
</div>