<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Examples", examples_path %></li>
<li><%= link_to "Documentation", documentation_path %></li>
<li><%= link_to "Grid Model", grid_model_test_path %></li>
